body{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
}

h1{
    padding-left: 10px;
    color:#eb7777;
    text-align:center;
}

#preguntaActual{
    background-color:#54a6d8 ;
    height: 100px;
    width: 230px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    padding-left: 10px;
    color:white;


}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preguntaInputCont{
    padding-left: 10px;
    justify-content:center;
    margin: 0 auto;
}

#enviarBtn{
    background-color:#ffb5b5 ;
    border-style: none;
    padding:10px;
    border-radius: 10px;
    color:#ffffff;
}

.preguntaInputCont input{
    
    padding:10px;
    margin-right: 10px;
    border-radius: 10px;
    border-color:#ffb5b5 ;
    border-style: solid;
}


.comp{
    background-color:#54a6d8;
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
    width:60%;
    margin-top:10px;

}


.comp button{
    background-color:#ffb5b5 ;
    border-style: none;
    margin-top:10px;
    padding:5px;
    border-radius: 10px;
    color:#ffffff;
    position: relative;
    left:120px;
    top:0px;
}

.promedio{
    color: black;
    border-style: solid;

}

.historico{
    margin-top:10px;
    padding-left: 10px;
    justify-content:center;
}

.historico p{
    color:#ffb5b5;

}

#preguntaPasada{
    
    width: 230px;
    margin-top:60px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding-left: 10px;
    color:white;


}